menu "MSM89x7 panel drivers generated with linux-mdss-dsi-panel-driver-generator"
	depends on GPIOLIB && OF && REGULATOR
	depends on DRM_MIPI_DSI

config DRM_PANEL_MSM89X7_GENERATED
	tristate "Select all generated MSM89X7 panel drivers by default"

config DRM_PANEL_LENOVO_TBX304X_JD9364_BOE
	tristate "Lenovo TBX304X JD9364 BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_LENOVO_TBX304X_NT35521S_BOE
	tristate "Lenovo TBX304X NT35521S BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_LENOVO_TBX304X_NT35521S
	tristate "Lenovo TBX304X NT35521S"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_CEDRIC_NT35596_INX
	tristate "Motorola CEDRIC NT35596 INX"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_CEDRIC_NT35596_TIANMA
	tristate "Motorola CEDRIC NT35596 TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_HANNAH_599_DJN
	tristate "Motorola HANNAH 599 DJN"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_HANNAH_599_TIANMA
	tristate "Motorola HANNAH 599 TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_HANNAH_600_DJN
	tristate "Motorola HANNAH 600 DJN"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_JETER_570_DJN
	tristate "Motorola JETER 570 DJN"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_JETER_570_TIANMA
	tristate "Motorola JETER 570 TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_JETER_570_WISTRON
	tristate "Motorola JETER 570 WISTRON"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_JETER_571_DJN
	tristate "Motorola JETER 571 DJN"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_JETER_571_TIANMA
	tristate "Motorola JETER 571 TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_MONTANA_NT35596_INX
	tristate "Motorola MONTANA NT35596 INX"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_MONTANA_R63350_TIANMA
	tristate "Motorola MONTANA R63350 TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_NOKIA_ND1_HX8394A
	tristate "Nokia ND1 HX8394A"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_NOKIA_ND1_ILI7807E
	tristate "Nokia ND1 ILI7807E"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_NOKIA_ND1_NT35521
	tristate "Nokia ND1 NT35521"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_NOKIA_ND1_NT35521S
	tristate "Nokia ND1 NT35521S"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_NOKIA_ND1_NT35521S_PJ050IA
	tristate "Nokia ND1 NT35521S PJ050IA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_SAMSUNG_GTOWIFI_ILI9881C_LD
	tristate "Samsung GTOWIFI ILI9881C LD"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_LAND_HX8394F_BOE
	tristate "Xiaomi LAND HX8394F BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_LAND_ILI9881C_TIANMA
	tristate "Xiaomi LAND ILI9881C TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_LAND_NT35521S_EBBG
	tristate "Xiaomi LAND NT35521S EBBG"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_PRADA_HX8394F_BOE
	tristate "Xiaomi PRADA HX8394F BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_PRADA_ILI9881C_TIANMA
	tristate "Xiaomi PRADA ILI9881C TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_PRADA_NT35521S_CTC
	tristate "Xiaomi PRADA NT35521S CTC"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_RIVA_HX8394F_BOE
	tristate "Xiaomi RIVA HX8394F BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_RIVA_ILI9881C_EBBGDJN
	tristate "Xiaomi RIVA ILI9881C EBBGDJN"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_RIVA_ILI9881C_EBBG
	tristate "Xiaomi RIVA ILI9881C EBBG"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_RIVA_ILI9881C_TIANMA
	tristate "Xiaomi RIVA ILI9881C TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_ROLEX_HX8394F_BOE
	tristate "Xiaomi ROLEX HX8394F BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_ROLEX_ILI9881C_EBBG
	tristate "Xiaomi ROLEX ILI9881C EBBG"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_ROLEX_NT35521S_EBBG
	tristate "Xiaomi ROLEX NT35521S EBBG"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_SANTONI_HX8394F_BOE
	tristate "Xiaomi SANTONI HX8394F BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_SANTONI_ILI9881C_EBBGDJN
	tristate "Xiaomi SANTONI ILI9881C EBBGDJN"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_SANTONI_ILI9881C_EBBG
	tristate "Xiaomi SANTONI ILI9881C EBBG"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_UGGLITE_ILI9881C_SC
	tristate "Xiaomi UGGLITE ILI9881C SC"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_UGGLITE_OTM1901A_HX
	tristate "Xiaomi UGGLITE OTM1901A HX"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_UGGLITE_OTM1901A_TM
	tristate "Xiaomi UGGLITE OTM1901A TM"
	default DRM_PANEL_MSM89X7_GENERATED

endmenu
